<!DOCTYPE html>
<html>
    <head>
        <title>SMS Spam Classifier</title>


    </head>

    <body>
        <h1>SMS SPAM Classifier</h1>
        <h3>Classifies if the inputted sms is SPAM or NOT SPAM </h3>

        <form action="{{url_for('Classify')}}" method="POST">
            <input type="text" name="SMS" placeholder="Input an SMS/Text messsage" size="200" required="required"/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>


        </form>

        <br>
        <br>
        {{classify_text}}



    </body>



</html>